h1
{
    color: cadetblue;
}

li
{
    color: rgb(255, 126, 244);
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.honda-01
{
    color: firebrick;
}

ul
{
    background-color: rgb(233, 216, 161);

}

#cont-01
{
    background-color: pink;
}