body
{
            background-image: url('../Pildid/karu.jpg');
            background-size: cover;
            background-attachment: fixed;
}

.container00
{
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: dimgrey;
    border-width: 3px;
    border-style: dotted;
}

input
{
    margin-top: 5px;
}

select
{
    margin-top: 5px;
}
body
{
    background-color: slategrey;
}

.news
{
    font-size: 11px;
}

label
{
    font-size: 12px;
}

.carpoll
{
    margin-left: 19px;
}
